# Archivos de configuración sensibles
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Carpetas de compilación
bin/
obj/

# Archivos de usuario de Visual Studio
*.user
*.suo
*.vspscc
.vs/

# Archivos de configuración de Rider/Resharper
.idea/
*.DotSettings

# Logs
*.log
